#idealgewichtsform {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: linear-gradient();
  width: 40%;
}

.bodyTypeBox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
