#idealgewichtsform {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.bodyTypeBox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 2rem;
  color: white;
  padding: 2rem;
  max-width: 500px;
  min-width: 200px;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}

/* Background Effects */

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 10vw;
  color: white;
}

canvas {
  width: 100%;
}
